@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/QuicksandLight-Regular.eot');
    src: url('./fonts/QuicksandLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/QuicksandLight-Regular.woff2') format('woff2'),
        url('./fonts/QuicksandLight-Regular.woff') format('woff'),
        url('./fonts/QuicksandLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color:antiquewhite;
    font-family: "Quicksand";
    font-weight: bold;
    margin-top:30px;
}

.title {
    text-align: center;
}

.main-container {
    background-color:white;
    margin: 30%;
    margin-top:30px;
    margin-bottom:40px;
    padding:20px;
}

.list-text li {
    padding:2px;
}

img {
    text-align: center;
    display:block;
    max-width:100%;
    height:100%;
    margin: auto;
}

 a {
    text-decoration: none;
    color: black;
 }

 .back-button-div a {
    border: solid black 2px;
    padding:10px;
}

.back-button-div {
    margin-top: 30px;
    text-align: center;
}

.ingredients,
.steps {
    border: solid 2px black;
    padding-left: 10px;
    margin-bottom: 10px;
}

h1 {
    text-decoration:underline 2px;
}

.recipes {
    list-style: none;
    text-align: center;
    font-size: 25px;
    padding:0;
}

.recipes li {
    padding:3.5px;
}

.title {
    text-decoration:none;
    font-weight: 1000;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-left:30%;
    margin-right:30%;
}
