@font-face {
    font-family: 'Quicksand';
    src: url('./fonts/QuicksandLight-Regular.eot');
    src: url('./fonts/QuicksandLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/QuicksandLight-Regular.woff2') format('woff2'),
        url('./fonts/QuicksandLight-Regular.woff') format('woff'),
        url('./fonts/QuicksandLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color:antiquewhite;
    font-family: "Quicksand";
    font-weight: bold;
    margin-top:30px;
}

.title {
    text-align: center;
}

.main-container {
    background-color:white;
    margin: 30%;
    margin-top:30px;
    margin-bottom:40px;
    padding:20px;
}

.list-text li {
    padding:2px;
}

img {
    text-align: center;
    display:block;
    max-width:100%;
    height:100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

.back-button-div {
    margin-top: 10px;
    text-align: center;
}