body {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    color:white;
    text-align: center;
}

.recipes {
    text-align:center;
    list-style-type: none;
    font-size: 25px;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.back-button-div {
  text-align: center;
}

.back-button-h3 {
    display: inline-block;
}


h1 {
    margin-bottom:0;
}

.ingredients,
.steps,
.back-button-h3 {
    background-color: rgb(255, 195, 83);
    padding:10px;
    border-radius: 2em;
}

.steps {
    margin-top:20px;
}







